<div class="card border-0">
    <div class="row mx-auto mt-5 mb-5">
        <div class="col-12 col-center mx-auto mt-5">
            <!-- <div *ngIf="emailSent" class="alert alert-success" role="alert">
                Email has been sent to your email ID Please follow the link for password reset!
            </div> -->
            <div class="card" style=" border:none; width: 50vh !important; margin: auto; height: 60vh !important;">
                <div class="card-body mb-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>