<div class="row">
    <div *ngFor="let project of projects" class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{project.projectName | uppercase}} - {{project.projectId}} </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a [routerLink]="['/dashboard/projects',project.projectId]" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>